body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 100px;
}

.content {
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

.nav-container {
    padding: 0;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.header-two {
    color: #ea1c2c;
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background .5s;
}

@media screen and (max-width: 1500px) {
    #headingGroup h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1100px) {
    #headingGroup h1 {
        font-size: 2.75rem;
    }
}